<%= render 'shared/header' %>
  <%= render 'shared/headerHero' %>
    <main id="main">

      <!-- ======= App Features Section ======= -->
      <section id="features" class="features">
        <div class="container">

          <div class="section-title">
            <h2>Caracteristicas dispositivos</h2>
            <p>Nuestros dispositivos, permiten conectar sus equipos de medición mediante wifi, el dispositivo tiene la capacidad de enviar todas las mediciones que se generan en el proceso a la nube, todos los dispositivos estan interconectados entre sí y converguen en un mismo servidor, los datos estarán disponibles en tiempo real en un panel de control aportando total visibilidad del proceso debido a que estan conectados directamente a las Api de los calibradores. </p>
          </div>

          <div class="row no-gutters">
            <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
              <div class="content d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="bx bx-receipt"></i>
                    <h4>Control del Proceso</h4>
                    <p>En la plataforma podrás detectar desviaciones en el proceso en tiempo real.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Reducción de Costos</h4>
                    <p>Mantener visibilizado el control de peso del proceso permite controlar a su vez las mermas y disminuir costos.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-images"></i>
                    <h4>Transformación Digital</h4>
                    <p>La automatización de los procesos de medición reduce la posibilidad errores humanos en digitación</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-shield"></i>
                    <h4>Disponibilidad de la información</h4>
                    <p>El envio en tiempo real de la data permite la toma rápida de decisiones importantes. </p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-atom"></i>
                    <h4>Gestión de la Calidad</h4>
                    <p>El registro de las mediciones que aseguran la calidad de los productos en tiempo real y sin manipulación humana, es un insumo ideal para mantener un estandar de aseguramiento de la calidad.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <i class="bx bx-id-card"></i>
                    <h4>Escalabilidad</h4>
                    <p>Wialot se enfoca en automatizar todos los procesos de medición críticos de su proceso productivo, que realiza actualmente de forma manual, bajo el mismo principio de transformación digital, los procesos a controlar no tienen fin. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
              data-aos="fade-left" data-aos-delay="100">
              <%= image_tag 'features' ,class:'img-fluid' %>
            </div>
          </div>

        </div>
      </section><!-- End App Features Section -->

      <!-- ======= Details Section ======= -->
      <section id="details" class="details">
        <div class="container">
          <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
              <%= image_tag 'details-1' ,class:'img-fluid' %>
            </div>
            <div class="col-md-8 pt-4" data-aos="fade-up">
              <h3>Beneficios</h3>
           
              <ul>
                <li><i class="bi bi-check"></i> Visibilidad de la información en tiempo real mediante conexión a internet.</li>
                <li><i class="bi bi-check"></i> Eliminación de trabajos manuales, errores humanos y perdida de información.</li>
                <li><i class="bi bi-check"></i> Eliminación de tiempos de respuesta en cuanto a resultados de analisis de datos.</li>
                <li><i class="bi bi-check"></i> Aseguramiento de la calidad y optimización de ganancias en la operación.</li>
                <li><i class="bi bi-check"></i> Respaldo de toda la información en la nube.</li>
                <li><i class="bi bi-check"></i> Soporte a nuestros clientes 24/7. </li>
              </ul>
              <p>
               Crear la infraestructura adecuada para pasar al siguiente nivel de la transformación digital es parte de nuestros servicios.
              </p>
            </div>
          </div>

        </div>
      </section><!-- End Details Section -->
      <!-- ======= Pricing Section ======= -->
      <!-- <section id="pricing" class="pricing">
        <div class="container">

          <div class="section-title">
            <h2>Precios</h2>
            <p>Conoce Te brindamos diversas modalidades de licenciamiento para acceder a nuestros productos y servicios. </p>
          </div>

          <div class="row no-gutters">
            <div class="col-lg-6 box featured" data-aos="fade-up">
              <h3>Saas</h3>
              <h4>A consultar<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>

            <div class="col-lg-6 box" data-aos="fade-left">
              <h3>On-Premise</h3>
              <h4>A consultar<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>

          </div>

        </div>
      </section>End Pricing Section -->
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Contactanos</h2>
            <p>Para cualquier asesoria gratuita, ampliación de infomación, no dudes en contactarnos a traves de los siguientes canales: </p>
          </div>

          <div class="row">

            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6 info">
                  <i class="bx bx-map"></i>
                  <h4>Dirección</h4>
                  <p>Calle Bombero Hugo Olguin 7160, Cerrillos RM Chile.</p>
                </div>
                <div class="col-lg-6 info">
                  <i class="bx bx-phone"></i>
                  <h4>Llamanos</h4>
                  <p>+56 9 5667 3437</p>
                </div>
                <div class="col-lg-6 info">
                  <i class="bx bx-envelope"></i>
                  <h4>Nuestro Email</h4>
                  <p>nestorurda@gmail.com</p>
                </div>
                <div class="col-lg-6 info">
                  <i class="bx bx-time-five"></i>
                  <h4>Horario Laboral</h4>
                  <p>Lun - Vie: 8AM to 6PM<br>Sábados: 9AM to 1PM</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
                <div class="form-group">
                  <input placeholder="Tu Nombre" type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group mt-3">
                  <input placeholder="Tu Email" type="email" class="form-control" name="email" id="email" required>
                </div>
                <div class="form-group mt-3">
                  <input placeholder="Asunto" type="text" class="form-control" name="Subject" id="subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea placeholder="Mensaje" class="form-control" name="Message" rows="5" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Tu mensaje ha sido enviado, Gracias!</div>
                </div>
                <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
              </form>
            </div>

          </div>

        </div>
      </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <%= render 'shared/footer' %>